@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Check Database, have you created it?
</p>
<p>
    <strong>Create the Database!</strong>
   You Only get here if your database is = null or the count of items is = 0, and it should not if you started the program correctly!
</p>
