@page
@model BackAlleyCinema.Pages.Cinema.IndexModel
@{
}

<div>
    <div>

    </div>
    <div>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F577464%2Fa-full-movie-theater-with-a-blank-screen.jpg&f=1&nofb=1"/>
    </div>
    <div>

    </div>

</div>

