@page
@model BackAlleyCinema.Pages.EndPage.IndexModel
@{
}



<div class="text-center">
    <h1 style="color: white;">Tack för din beställning!</h1>

    <br />
    <br />
    <h1 style="color: white;">Biljetter har skickats till den angivna EPost adressen, är den inte giltig har du inte fått biljetter!</h1>
    <br />
    <br />

    <h1 style="color: white;">Kontrollera mailen för biljetterna, glöm inte att kolla i skräpposten också, då dom kan hamna där!</h1>
</div>

<div class="container test-center">
    <img style="display:block; margin:auto; min-height: 600px; width: auto;" src="@Model.Movie.Poster" />
</div>